form input {
  display: list-item;
}

#adding_elements {
  display: inline-block;
  width: 100%;
}

#adding_elements div {
  width: 50%;
}

form {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}

#submit {
  grid-column: 1 / span 2;
}
